/JDBC/Exercise/JDBC/target/
/JDBC/Exercise/JavaApplication1/nbproject/private/
/JDBC/Exercise/JavaApplication1/build/
/JDBC/Exercise/JBDC/nbproject/private/
/JDBC/Exercise/JBDC/build/
/JDBC/E1/JDBC/nbproject/private/
/JDBC/E1/FarhanAddition/nbproject/private/
/JDBC/E1/FarhanAddition/build/
/JDBC/CalorieCaounter/CalorieCounter/nbproject/private/
/JDBC/CalorieCaounter/Food/nbproject/private/
/JDBC/CalorieCaounter/Food/build/
/JDBC/CalorieCaounter/CalorieCounter/build/
/Final PBO 4th Semester/JDBC/CalorieCounter/build/
/Final PBO 4th Semester/JDBC/CalorieCounter/nbproject/private/
/Final PBO 4th Semester/JDBC/Etc/E1/FarhanAddition/build/
/Final PBO 4th Semester/JDBC/Etc/E1/FarhanAddition/nbproject/private/
/Final PBO 4th Semester/JDBC/Etc/E1/JDBC/nbproject/private/
/Final PBO 4th Semester/JDBC/Etc/Exercise/JBDC/build/
/Final PBO 4th Semester/JDBC/Etc/Exercise/JBDC/nbproject/private/
/Final PBO 4th Semester/JDBC/Etc/Food/build/
/Final PBO 4th Semester/JDBC/Etc/Food/nbproject/private/
/Final PBO 4th Semester/JDBC/CalorieCounter/dist/
